In [1]:
import pandas as pd
import numpy as np

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
 10  Segmentation     6665 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 572.9+ KB

In [3]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154 entries, 0 to 2153
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2154 non-null   int64
 1   Gender           2154 non-null   object
 2   Ever_Married     2154 non-null   object
 3   Age              2154 non-null   int64
 4   Graduated        2154 non-null   object
 5   Profession       2154 non-null   object
 6   Work_Experience  2154 non-null   float64
 7   Spending_Score   2154 non-null   object
 8   Family_Size      2154 non-null   float64
 9   Var_1            2154 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 168.4+ KB

dropna.fillna 이런건 필요없음

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
 10  Segmentation     6665 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 572.9+ KB

In [5]:
print(train.head(10))

       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  462809    Male           No   22        No  Healthcare              1.0
1  466315  Female          Yes   67       Yes    Engineer              1.0
2  461735    Male          Yes   67       Yes      Lawyer              0.0
3  461319    Male          Yes   56        No      Artist              0.0
4  460156    Male           No   32       Yes  Healthcare              1.0
5  464347  Female           No   33       Yes  Healthcare              1.0
6  465015  Female          Yes   61       Yes    Engineer              0.0
7  465176  Female          Yes   55       Yes      Artist              1.0
8  464041  Female           No   26       Yes    Engineer              1.0
9  464942    Male           No   19        No  Healthcare              4.0

  Spending_Score  Family_Size  Var_1  Segmentation
0            Low          4.0  Cat_4             4
1            Low          1.0  Cat_6             2
2           High          2.0  Cat_6             2
3        Average          2.0  Cat_6             3
4            Low          3.0  Cat_6             3
5            Low          3.0  Cat_6             4
6            Low          3.0  Cat_7             4
7        Average          4.0  Cat_6             3
8            Low          3.0  Cat_6             1
9            Low          4.0  Cat_4             4

범주형 변수 원핫인코딩 필요

In [6]:
# 원핫 인코딩
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [7]:
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        6665 non-null   int64
 1   Age                       6665 non-null   int64
 2   Work_Experience           6665 non-null   float64
 3   Family_Size               6665 non-null   float64
 4   Segmentation              6665 non-null   int64
 5   Gender_Female             6665 non-null   uint8
 6   Gender_Male               6665 non-null   uint8
 7   Ever_Married_No           6665 non-null   uint8
 8   Ever_Married_Yes          6665 non-null   uint8
 9   Graduated_No              6665 non-null   uint8
 10  Graduated_Yes             6665 non-null   uint8
 11  Profession_Artist         6665 non-null   uint8
 12  Profession_Doctor         6665 non-null   uint8
 13  Profession_Engineer       6665 non-null   uint8
 14  Profession_Entertainment  6665 non-null   uint8
 15  Profession_Executive      6665 non-null   uint8
 16  Profession_Healthcare     6665 non-null   uint8
 17  Profession_Homemaker      6665 non-null   uint8
 18  Profession_Lawyer         6665 non-null   uint8
 19  Profession_Marketing      6665 non-null   uint8
 20  Spending_Score_Average    6665 non-null   uint8
 21  Spending_Score_High       6665 non-null   uint8
 22  Spending_Score_Low        6665 non-null   uint8
 23  Var_1_Cat_1               6665 non-null   uint8
 24  Var_1_Cat_2               6665 non-null   uint8
 25  Var_1_Cat_3               6665 non-null   uint8
 26  Var_1_Cat_4               6665 non-null   uint8
 27  Var_1_Cat_5               6665 non-null   uint8
 28  Var_1_Cat_6               6665 non-null   uint8
 29  Var_1_Cat_7               6665 non-null   uint8
dtypes: float64(2), int64(3), uint8(25)
memory usage: 423.2 KB
None

In [8]:
target = train.pop('Segmentation')
ID = test.pop('ID')

In [13]:
print(train.info(), test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        6665 non-null   int64
 1   Age                       6665 non-null   int64
 2   Work_Experience           6665 non-null   float64
 3   Family_Size               6665 non-null   float64
 4   Gender_Female             6665 non-null   uint8
 5   Gender_Male               6665 non-null   uint8
 6   Ever_Married_No           6665 non-null   uint8
 7   Ever_Married_Yes          6665 non-null   uint8
 8   Graduated_No              6665 non-null   uint8
 9   Graduated_Yes             6665 non-null   uint8
 10  Profession_Artist         6665 non-null   uint8
 11  Profession_Doctor         6665 non-null   uint8
 12  Profession_Engineer       6665 non-null   uint8
 13  Profession_Entertainment  6665 non-null   uint8
 14  Profession_Executive      6665 non-null   uint8
 15  Profession_Healthcare     6665 non-null   uint8
 16  Profession_Homemaker      6665 non-null   uint8
 17  Profession_Lawyer         6665 non-null   uint8
 18  Profession_Marketing      6665 non-null   uint8
 19  Spending_Score_Average    6665 non-null   uint8
 20  Spending_Score_High       6665 non-null   uint8
 21  Spending_Score_Low        6665 non-null   uint8
 22  Var_1_Cat_1               6665 non-null   uint8
 23  Var_1_Cat_2               6665 non-null   uint8
 24  Var_1_Cat_3               6665 non-null   uint8
 25  Var_1_Cat_4               6665 non-null   uint8
 26  Var_1_Cat_5               6665 non-null   uint8
 27  Var_1_Cat_6               6665 non-null   uint8
 28  Var_1_Cat_7               6665 non-null   uint8
dtypes: float64(2), int64(2), uint8(25)
memory usage: 371.1 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154 entries, 0 to 2153
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       2154 non-null   int64
 1   Work_Experience           2154 non-null   float64
 2   Family_Size               2154 non-null   float64
 3   Gender_Female             2154 non-null   uint8
 4   Gender_Male               2154 non-null   uint8
 5   Ever_Married_No           2154 non-null   uint8
 6   Ever_Married_Yes          2154 non-null   uint8
 7   Graduated_No              2154 non-null   uint8
 8   Graduated_Yes             2154 non-null   uint8
 9   Profession_Artist         2154 non-null   uint8
 10  Profession_Doctor         2154 non-null   uint8
 11  Profession_Engineer       2154 non-null   uint8
 12  Profession_Entertainment  2154 non-null   uint8
 13  Profession_Executive      2154 non-null   uint8
 14  Profession_Healthcare     2154 non-null   uint8
 15  Profession_Homemaker      2154 non-null   uint8
 16  Profession_Lawyer         2154 non-null   uint8
 17  Profession_Marketing      2154 non-null   uint8
 18  Spending_Score_Average    2154 non-null   uint8
 19  Spending_Score_High       2154 non-null   uint8
 20  Spending_Score_Low        2154 non-null   uint8
 21  Var_1_Cat_1               2154 non-null   uint8
 22  Var_1_Cat_2               2154 non-null   uint8
 23  Var_1_Cat_3               2154 non-null   uint8
 24  Var_1_Cat_4               2154 non-null   uint8
 25  Var_1_Cat_5               2154 non-null   uint8
 26  Var_1_Cat_6               2154 non-null   uint8
 27  Var_1_Cat_7               2154 non-null   uint8
dtypes: float64(2), int64(1), uint8(25)
memory usage: 103.2 KB
None None

In [14]:
train = train.drop('ID', axis=1)

In [22]:
# 모델 선택 및 학습
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0)
rf.fit(train, target)

RandomForestClassifier(random_state=0)

In [23]:
pred = rf.predict(test)
print(pred)

[1 3 3 ... 2 3 4]

In [26]:
K = pd.DataFrame({'ID' : ID, 'Segmentation' : pred})
print(K.head())

       ID  Segmentation
0  458989             1
1  458994             3
2  459000             3
3  459003             3
4  459005             1