In [1]:
import pandas as pd
import numpy as np

# 데이터 세팅하기 or 불러오기
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()
x = pd.DataFrame(diabetes.data, columns = diabetes.feature_names)
y = pd.DataFrame(diabetes.target)

In [2]:
# 실기 시험 데이터 셋으로 세팅하기

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state=23)

x_train = pd.DataFrame(x_train.reset_index())
x_test = pd.DataFrame(x_test.reset_index())
y_train = pd.DataFrame(y_train.reset_index())

x_test.rename(columns={'index' : 'cust_id'}, inplace =True)
x_train.rename(columns={'index' : 'cust_id'}, inplace =True)
y_train.columns = ['cust_id', 'target']

print(x_train.shape, y_train.shape, x_test.shape, y_test.shape)

(353, 11) (353, 2) (89, 11) (89, 1)

In [3]:
x_train.head()

,cust_id,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
1,13,0.005383,0.050680,-0.001895,0.008101,-0.004321,-0.015719,-0.002903,-0.002592,0.038394,-0.013504
2,325,-0.001882,-0.044642,0.054152,-0.066506,0.072732,0.056619,-0.043401,0.084863,0.084492,0.048628
3,319,0.019913,-0.044642,0.004572,0.045972,-0.018080,-0.054549,0.063367,-0.039493,0.028658,0.061054
4,148,-0.060003,0.050680,0.015350,-0.019442,0.036958,0.048164,0.019187,-0.002592,-0.030748,-0.001078

In [4]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353 entries, 0 to 352
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  353 non-null    int64
 1   age      353 non-null    float64
 2   sex      353 non-null    float64
 3   bmi      353 non-null    float64
 4   bp       353 non-null    float64
 5   s1       353 non-null    float64
 6   s2       353 non-null    float64
 7   s3       353 non-null    float64
 8   s4       353 non-null    float64
 9   s5       353 non-null    float64
 10  s6       353 non-null    float64
dtypes: float64(10), int64(1)
memory usage: 30.5 KB

In [5]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353 entries, 0 to 352
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  353 non-null    int64
 1   target   353 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 5.6 KB

In [6]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  89 non-null     int64
 1   age      89 non-null     float64
 2   sex      89 non-null     float64
 3   bmi      89 non-null     float64
 4   bp       89 non-null     float64
 5   s1       89 non-null     float64
 6   s2       89 non-null     float64
 7   s3       89 non-null     float64
 8   s4       89 non-null     float64
 9   s5       89 non-null     float64
 10  s6       89 non-null     float64
dtypes: float64(10), int64(1)
memory usage: 7.8 KB

In [7]:
# y_train.value_counts()
print(y_train.describe())

          cust_id      target
count  353.000000  353.000000
mean   219.832861  147.784703
std    130.254004   76.616141
min      0.000000   31.000000
25%    104.000000   83.000000
50%    221.000000  138.000000
75%    331.000000  200.000000
max    441.000000  346.000000

In [8]:
print(x_train.describe())
print(x_test.describe())

          cust_id         age         sex         bmi          bp          s1  \
count  353.000000  353.000000  353.000000  353.000000  353.000000  353.000000
mean   219.832861   -0.002386   -0.000626   -0.001895   -0.001314   -0.000587
std    130.254004    0.048224    0.047589    0.046356    0.047170    0.047013
min      0.000000   -0.107226   -0.044642   -0.090275   -0.112399   -0.126781
25%    104.000000   -0.041840   -0.044642   -0.035307   -0.036656   -0.033216
50%    221.000000    0.001751   -0.044642   -0.008362   -0.005670   -0.004321
75%    331.000000    0.034443    0.050680    0.028284    0.032201    0.027326
max    441.000000    0.110727    0.050680    0.160855    0.132044    0.153914

               s2          s3          s4          s5          s6
count  353.000000  353.000000  353.000000  353.000000  353.000000
mean    -0.000518    0.002860   -0.002945   -0.002949   -0.002861
std      0.047561    0.048011    0.046987    0.046612    0.046354
min     -0.115613   -0.102307   -0.076395   -0.101640   -0.129483
25%     -0.029497   -0.032356   -0.039493   -0.035816   -0.034215
50%     -0.004445   -0.002903   -0.002592   -0.006081   -0.001078
75%      0.027183    0.033914    0.034309    0.028020    0.023775
max      0.155887    0.181179    0.155345    0.133597    0.135612
          cust_id        age        sex        bmi         bp         s1  \
count   89.000000  89.000000  89.000000  89.000000  89.000000  89.000000
mean   223.146067   0.009465   0.002484   0.007515   0.005212   0.002327
std    117.889639   0.044137   0.047928   0.051930   0.049286   0.050158
min     14.000000  -0.107226  -0.044642  -0.080575  -0.084856  -0.104765
25%    122.000000  -0.016412  -0.044642  -0.027762  -0.036656  -0.034592
50%    218.000000   0.012648  -0.044642  -0.000817   0.000079  -0.000193
75%    328.000000   0.041708   0.050680   0.045529   0.045972   0.035582
max    413.000000   0.110727   0.050680   0.170555   0.104501   0.152538

              s2         s3         s4         s5         s6
count  89.000000  89.000000  89.000000  89.000000  89.000000
mean    0.002053  -0.011342   0.011679   0.011696   0.011349
std     0.048065   0.044503   0.048579   0.049997   0.051048
min    -0.100895  -0.080217  -0.076395  -0.126097  -0.137767
25%    -0.032942  -0.039719  -0.039493  -0.027129  -0.013504
50%    -0.001314  -0.017629  -0.002592   0.012551   0.015491
75%     0.035638   0.011824   0.034309   0.045604   0.036201
max     0.198788   0.177497   0.185234   0.132376   0.135612

# 결측치 / 이상치 / 변수처리

In [9]:
print(x_train.isnull().sum())
print(y_train.isnull().sum())
print(x_test.isnull().sum())

cust_id    0
age        0
sex        0
bmi        0
bp         0
s1         0
s2         0
s3         0
s4         0
s5         0
s6         0
dtype: int64
cust_id    0
target     0
dtype: int64
cust_id    0
age        0
sex        0
bmi        0
bp         0
s1         0
s2         0
s3         0
s4         0
s5         0
s6         0
dtype: int64

In [10]:
# 변수처리 , cust_id 잠시 이석

cust_id = x_test['cust_id'].copy()
x_train = x_train.drop('cust_id', axis=1)
x_test = x_test.drop('cust_id', axis=1)

# 데이터 분리

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train['target'], 
                                                  test_size = 0.2, random_state=23)
print(x_train.shape, y_train.shape,x_val.shape)

(282, 10) (282,) (71, 10)

# 모델 성능평가

In [12]:
import sklearn.ensemble
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=23)
# 모델은 뭘 핏해야할까? 뭘 학습해야할까? = > 당연히 _train 데이터지!
model.fit(x_train, y_train)

RandomForestRegressor(random_state=23)

In [13]:
# 모델을 사용하여 테스트 데이터 예측 ?
# !!!학습된 모델을!!! 이용하여 x_val 평가용 지표를 넣어서 y값을 예측해봄
y_pred = model.predict(x_val)

In [14]:
# 평가 (정확도 , F1 score, AUC-ROC=이진분류에서만!, recall_score) 
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_val, y_pred)   # 배치(실제값/예측값)
r2 = r2_score(y_val, y_pred)
print(mse)
print(mse**0.5)
print(r2)

3244.050728169014
56.95656878858674
0.37647234831662024

# 모델 예측값 제출

In [15]:
# 그냥 분류 자체를 실시할 경우 = > 정수

In [16]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     89 non-null     float64
 1   sex     89 non-null     float64
 2   bmi     89 non-null     float64
 3   bp      89 non-null     float64
 4   s1      89 non-null     float64
 5   s2      89 non-null     float64
 6   s3      89 non-null     float64
 7   s4      89 non-null     float64
 8   s5      89 non-null     float64
 9   s6      89 non-null     float64
dtypes: float64(10)
memory usage: 7.1 KB

In [22]:
y_result = model.predict(x_test)
y_result = pd.DataFrame({'cust_id' : cust_id, 'target' : y_result})
print(y_result[:5])

   cust_id  target
0      114  267.43
1      261  114.44
2      193  177.23
3      110   92.58
4      357  208.17

In [25]:
y_result.to_csv('00700.csv', index =False)

In [26]:
k=pd.read_csv('00700.csv')
k.head()

   cust_id  target
0      114  267.43
1      261  114.44
2      193  177.23
3      110   92.58
4      357  208.17